#product {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
.mobile{
    display: none;
}
    .dev {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .up {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .manin_title {
                font-size: 30px;
            }

            .info {
                opacity: 80%;
                max-width: 600px;
                text-align: center;
            }
        }

        .bigbox {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items:center ;


            .probox {
                position: relative;
                width: 32%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &:hover{
                    .wish{
                        color: black;
                        position: absolute;
                        z-index: 3;
                        display: flex;
                       
                        top: 10px;
                        right: 15px;
                        font-size: 26px;
                    }
                    .basket{
                        position: absolute;
                        top: 220px;
                        height: 80px;
                        background-color: red;
                        width: 300px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
    
                    }
                }
                .wish{
                    display: none;
                }
                .basket{
                    display: none;
                }
                .src{
                    position: relative;
                    width: 300px;
                    height: 300px;
                }
                .name{
                    font-size: 26px;
                    color: gray;
                }
                .price{
                    color: gray;
                    font-size: 24px;
                }

            }
        }

        .down {
            .redbut {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: white;
                    background-color: red;
                    padding: 20px;
                }
            }
        }

    }
    @media only screen and (max-width: 992px) {
        .dev {
          display: none;
        }
        .mobile{
            width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .up {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .manin_title {
                font-size: 30px;
            }

            .info {
                opacity: 80%;
                max-width: 600px;
                text-align: center;
            }
        }

        .bigbox {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items:center ;
            flex-direction: column;
            gap: 10px;


            .probox {
                position: relative;
                width: 32%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &:hover{
                    .wish{
                        color: black;
                        position: absolute;
                        z-index: 3;
                        display: flex;
                       
                        top: 10px;
                        right: 15px;
                        font-size: 26px;
                    }
                    .basket{
                        position: absolute;
                        top: 220px;
                        height: 80px;
                        background-color: red;
                        width: 300px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
    
                    }
                }
                .wish{
                    display: none;
                }
                .basket{
                    display: none;
                }
                .src{
                    position: relative;
                    width: 300px;
                    height: 300px;
                }
                .name{
                    font-size: 26px;
                    color: gray;
                }
                .price{
                    color: gray;
                    font-size: 24px;
                }

            }
        }

        .down {
            .redbut {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: white;
                    background-color: red;
                    padding: 20px;
                }
            }
        }
        }
      }
}